<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/sideprojects">Side Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>Snail mail: 214 Bard Hall, Cornell University, Ithaca, NY 14853 USA </li>
	        		<li>Phone: 978-270-8986 </li>
	        		<li>E-mail: <a href="mailto:ehs73@cornell.com">ehs73[at]cornell.edu</a></li>
				</ul>
			</footer>
		</body>
	</html>
